<mat-toolbar color="primary">

  <mat-menu #appMenu="matMenu">
    <a mat-button  routerLink="/query" >Consulta</a>
    <a mat-button  routerLink="/user/profile" >Nuevo registro</a>
  </mat-menu>
  <mat-toolbar-row>
  <span>PANEL DE BOLETOS ALIMENTICIOS</span>
     <a mat-button routerLink="/">Índice</a>
     <a mat-button [matMenuTriggerFor]="appMenu">Panel de control</a>
     <span class="spacer"></span>
     <a mat-button  routerLink="/user/profile" >Perfil</a>
     <a mat-button routerLink="/user/register" >Registrate</a>
     <a mat-button routerLink="/login">Iniciar sesión</a>

  </mat-toolbar-row>
  </mat-toolbar>
