<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>PANEL DE BOLETOS ALIMENTICIOS</span>
     <a mat-button routerLink="/">Índice</a>
     <a mat-button>Panel de control</a>
     <a mat-button  routerLink="/query" >Consulta</a>
     <a mat-button  routerLink="/user/profile" >Nuevo registro</a>
     <span class="spacer"></span>
     <a mat-button  routerLink="/user/profile" >Perfil</a>
     <a mat-button routerLink="/user/register" >Registrate</a>
     <a mat-button routerLink="/login">Iniciar sesión</a>

  </mat-toolbar-row>
  </mat-toolbar>
