.container {
  display: grid;
  height: 500px;
  width: 500px;
  justify-content: center;
  grid-template-columns: 1fr;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
